button
{
   margin: 5px;
}

    div,
    form,
    input
     {
      margin: 8px;
    }

    img{
      max-width: 250px;
      margin: 5px;
      /*float: left;*/
    }

   body{
    background-color: #add0e7;
   }
	
    .moveLeft {
		float: left;
	}
   #buttons-view {
   color: #7860ac;
   text-decoration-color: white;
   }

   #country-form{
    float:right;
   }

   #country-view{
    float:left;
   }

   #add-country{
    margin-left: 210px;
   }
